.add-designation{
  margin-top: 220px;
  margin-left: 450px;
  width: 240px;
  height: 150px;
  border-radius: 5px;
  border-color: white;
  color:white;
  background-color: black;
  border-style: solid;
}
.add-designation:hover{
    cursor: pointer;
}
.label{
    padding:5px;
    display: inline;
    margin-top: 30px;
    margin-left: 55px;
}

.input{
 padding:5px;
display: inline;
margin-top: 30px;
margin-left: 40px;
}

.button{
padding: 5px;
display: inline;
margin-top: 30px;
margin-left: 70px;
}